<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.siebeck.sipswitch"
    android:versionCode="10"
    android:versionName="1.1.0">

<!--     <uses-permission android:name="android.permission.USE_SIP"/> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="cyanogenmod.permission.PUBLISH_CUSTOM_TILE" />
    <uses-feature android:name="android.software.sip.voip" android:required="true"/>
    <uses-feature android:name="android.software.sip" android:required="true"/>
    

    <application
        android:icon="@mipmap/mode_sip"
        android:label="@string/app_name" 
        android:allowBackup="false">
        <receiver android:name=".SipSwitchActivity" android:label="SIP Switch">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:resource="@xml/widget_info" android:name="android.appwidget.provider"/>
        </receiver>
    </application>
</manifest>
